<div class="browser-frame">
    <div class="bf-container">
        <div class="bf-row">
            <div class="bf-column bf-left">
                <span class="bf-dot" style="background:#ED594A;"></span>
                <span class="bf-dot" style="background:#FDD800;"></span>
                <span class="bf-dot" style="background:#5AC05A;"></span>
            </div>
            <div class="bf-column bf-middle">
                <a class="address-bar" href="{{ linkUrl }}" target="_blank">
                    <i class="fa fa-globe"></i>
                    {{ displayUrl }}
                </a>
            </div>
            <div class="bf-column bf-right">
                <div style="float:right">
                    <span class="bf-bar"></span>
                    <span class="bf-bar"></span>
                    <span class="bf-bar"></span>
                </div>
            </div>
        </div>

        <div class="bf-content">
            <img src="{{ imageUrl }}" alt="{{ imageAlt }}" style="width: 100%">
        </div>
    </div>
</div>
