<div class="col-md-6 col-sm-12">
    <iframe
            src="https://changelly.com/widget/v1?auth=email&from=BTC&to=LTC&merchant_id=8db93eb9540d&address=&amount=1&ref_id=8db93eb9540d&color=b4d435"
            width="100%"
            height="500"
            class="changelly"
            scrolling="no"
            style="overflow-y: hidden; border: none"
    >
        Can't load widget
    </iframe>
</div>
