<div class="service-box-heading">
    <h3><i class="fas fa-university"></i></h3>
    <span>Guides & Tutorials</span>
</div>

<ul class="list-group margin-bottom-25 sidebar-menu">
    <li class="list-group-item clearfix">
        <a href="#">
            <i class="fas fa-flask"></i> Coming Soon
        </a>
    </li>
</ul>
