<div class="service-box-heading">
    <em><i class="fa fa-group grey"></i></em>
    <span>Start Learning</span>
</div>

<ul class="list-group margin-bottom-25 sidebar-menu">
    <li class="list-group-item clearfix">
        <a href="#">
            <i class="fa fa-calculator"></i> Coming Soon
        </a>
    </li>
</ul>
