<div class="service-box-heading">
    <em><i class="fa fa-bitcoin grey"></i></em>
    <span>Service Directory</span>
</div>

<ul class="list-group margin-bottom-25 sidebar-menu">
    {% for cat in categories %}
        <li class="list-group-item clearfix">
            <a href="{{ path('websiteReviewCategory', {'slug':cat.categorySlug} ) }}">
                <i class="fa fa-angle-right"></i>{{ cat.categoryName }}
            </a>
        </li>
    {% endfor %}
</ul>
