<div class="service-box-heading">
    <h3><i class="fas fa-map-signs"></i></h3>
    <h3>Service Directory</h3>
</div>

<ul class="list-group margin-bottom-25 sidebar-menu">
    {% for cat in categories %}
        <li class="list-group-item clearfix">
            <a href="{{ path('websiteReviewCategory', {'slug':cat.categorySlug} ) }}">
                <i class="fas fa-caret-square-right"></i>{{ cat.categoryName }}
            </a>
        </li>
    {% endfor %}
</ul>
