<div class="service-box-heading">
    <em><i class="fa fa-group grey"></i></em>
    <span>We're Social</span>
</div>

<ul class="list-group margin-bottom-25 sidebar-menu">
    <li class="list-group-item clearfix">
        <a href="https://www.facebook.com/YourWebPresentsCryptoCurrency/" target="_blank">
            <i class="fa fa-facebook"></i> Facebook
        </a>
    </li>
    <li class="list-group-item clearfix">
        <a href="https://twitter.com/BuildingYourWeb">
            <i class="fa fa-twitter"></i> Twitter
        </a>
    </li>
    <li class="list-group-item clearfix">
        <a href="https://www.youtube.com/channel/UCsTKD5yBItuCFpcuHAsLyYQ">
            <i class="fa fa-youtube"></i> YouTube
        </a>
    </li>
</ul>
