# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea

.phpstorm.meta.php
30 minute & ecom busters
KonnektiveCrmApi
#ProfitBackend
simply-click-2
#simply-click-to-profit
#viral-fb-profits
Call-In.png
Call In.ai
