<ul class="{{ SocialLinkslistClass }}">
    <li><a href="https://www.facebook.com/YourWebPresentsCryptoCurrency/" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://plus.google.com/b/102872629950751156005/102872629950751156005" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    {#<li><a href="javascript:;" target="_blank"><i class="fa fa-linkedin"></i></a></li>#}
    <li><a href="https://twitter.com/BuildingYourWeb" target="_blank"><i class="fa fa-twitter"></i></a></li>
    {#<li><a href="javascript:;" target="_blank"><i class="fa fa-skype"></i></a></li>#}
    <li><a href="https://www.youtube.com/channel/UCsTKD5yBItuCFpcuHAsLyYQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
</ul>
