
@import "partials/colors";
@import "partials/content_boxes";
@import "partials/buttons";
@import "partials/browser_frame";

.website-icon {
  position: relative;

  .background-screen {
      position: absolute;
      top: 0;
      left: 0;
      width: 188px;
      z-index: 50;
    }

  .site-thumb {
    position: absolute;
    top: 14px;
    left: 11px;
    width: 165px;
    height: 101px;
    z-index: 100;
    border-radius: 1px;
  }
}
.service-directory {
  .service-directory-card {
    padding: 23px 22px 29px 11px;
    border: 1px solid rgba(49,48,48,.08);
    box-shadow: 3px 4px 6px rgba(179,211,52,.49);

    h2 {
      padding-top: 0;

      a {
        text-decoration:none;

        :hover {
          color: rgb(179, 211, 52);
        }
      }
    }
  }

  .service-directory-summary {
    blockquote {
      padding: 15px;
      border: none;
      color: #666;
      display: block;
      font-size: 14px;
      line-height: 20px;
      background: #F8F8F8;
      position: relative;
    }

    p {
      font-size: 14px;
    }
  }

  .section-summary {
    margin: 8px;
    padding: 8px;
    font-size: 12px;
    text-align: justify;
    background-color: $bg-light-grey-one;
  }
}


.site-review-article {

  h3 {
    size: 18px;
    color: $theme-green;
  }

  ul.review-site-summary {
    padding-left: 0;
    list-style: none;

    li {
      margin-bottom: 3px;
      color: #888;
      font-size: 10px;
      padding: 7px 15px;
      border-bottom: solid 1px #f5f9e7;

        span {
          font-weight: bold;
          font-size: 12px;
        }

        i {
          top: 2px;
          color: $theme-green;
          font-size: 16px;
          margin-right: 5px;
          position: relative;
        }
    }
  }
  .article-content {

  }

  .website-image {
  }
}
