<div class="pre-footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2>About us</h2>
                <p>YourWeb is a technology company ran by one man, a web developer named Layton Everson.
                    The CryptoCurrency division focuses on all things related to bitcoin and bitcoin markets.
                    Do you own a website and want to facilitate a CryptoCurrency related service? Please reach
                    out for a free consultation.
                </p>

                <!-- <div class="photo-stream">
                    <h2>Photos Stream</h2>
                    <ul class="list-unstyled">
                        <li><a href="javascript:;"><img alt="" src="assets/pages/img/people/img5-small.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="assets/pages/img/works/img1.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="assets/pages/img/people/img4-large.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="assets/pages/img/works/img6.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="assets/pages/img/works/img3.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="assets/pages/img/people/img2-large.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="assets/pages/img/works/img2.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="assets/pages/img/works/img5.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="assets/pages/img/people/img5-small.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="assets/pages/img/works/img1.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="assets/pages/img/people/img4-large.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="assets/pages/img/works/img6.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="assets/pages/img/works/img3.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="assets/pages/img/people/img2-large.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="assets/pages/img/works/img2.jpg"></a></li>
                    </ul>
                </div> -->
            </div>
            <!-- END BOTTOM ABOUT BLOCK -->

            <!-- BEGIN BOTTOM CONTACTS -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2>Contact YourWeb.Online</h2>
                <address class="margin-bottom-40">
                    YourWeb.Online<br>
                    http://yourweb.online
                    St. George, UT USA<br>
                    <br>
                    Phone: 1 801-638-9973<br>
                    Email: <a href="mailto:info@yourweb.online">info@yourweb.online</a><br>
                    Skype: <a href="skype:layton.everson">layton.everson</a>
                </address>

                <!-- <div class="pre-footer-subscribe-box pre-footer-subscribe-box-vertical">
                    <h2>Newsletter</h2>
                    <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                    <form action="#">
                        <div class="input-group">
                            <input type="text" placeholder="youremail@mail.com" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Subscribe</button>
                            </span>
                        </div>
                    </form>
                </div> -->
            </div>
            <!-- END BOTTOM CONTACTS -->
            {% block tweetBox %}
            <!-- BEGIN TWITTER BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2 class="margin-bottom-0">Latest Tweets</h2>
                <!-- <a class="twitter-timeline" href="https://twitter.com/twitterapi" data-tweet-limit="2" data-theme="dark" data-link-color="#57C8EB" data-widget-id="455411516829736961" data-chrome="noheader nofooter noscrollbar noborders transparent">Loading tweets by @laytone...</a> -->
                <a class="twitter-timeline"
                    href="https://twitter.com/search?q=%40laytone"
                    data-tweet-limit="2"
                    data-theme="dark"
                    data-link-color="#57C8EB"
                    data-widget-id="950404382213967872"
                    data-chrome="noheader nofooter noscrollbar noborders transparent">
                    Tweets about @laytone
                </a>
                <script></script>
            </div>
            <!-- END TWITTER BLOCK -->
            {% endblock %}
        </div>
    </div>
</div>
