{% extends 'digital-cash/default.html.twig' %}

{% block title %}Home {{ parent() }}{% endblock %}

{% block pageTitle %}Welcome to Digital Cash @ YourWeb.Agency{% endblock %}
{% block sectionPageBody %}
    <p>We are here to cover all things crypto-currency related! </p>
{% endblock %}
