<li class="dropdown dropdown-megamenu">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                        Coins
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="header-navigation-content">
                                <div class="row">
                                    <div class="col-md-4 header-navigation-col">
                                        <h4>Top Coins</h4>
                                        <ul>
                                            <li><a href="index.html">1. Bitcoin (BTC)</a></li>
                                            <li><a href="index.html">2. Bitcoin (BTC)</a></li>
                                            <li><a href="index.html">3. Bitcoin (BTC)</a></li>
                                            <li><a href="index.html">4. Bitcoin (BTC)</a></li>
                                            <li><a href="index.html">5. Bitcoin (BTC)</a></li>
                                            <li><a href="index.html">6. Bitcoin (BTC)</a></li>
                                            <li><a href="index.html">7. Bitcoin (BTC)</a></li>
                                            <li><a href="index.html">8. Bitcoin (BTC)</a></li>
                                            <li><a href="index.html">9. Bitcoin (BTC)</a></li>
                                            <li><a href="index.html">10. Bitcoin (BTC)</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 header-navigation-col">
                                        <h4>...</h4>
                                        <ul>
                                            <li><a href="index.html">11. Vivo (VIVO)</a></li>
                                            <li><a href="index.html">12. Vivo (VIVO)</a></li>
                                            <li><a href="index.html">13. Vivo (VIVO)</a></li>
                                            <li><a href="index.html">14. Vivo (VIVO)</a></li>
                                            <li><a href="index.html">15. Vivo (VIVO)</a></li>
                                            <li><a href="index.html">16. Vivo (VIVO)</a></li>
                                            <li><a href="index.html">17. Vivo (VIVO)</a></li>
                                            <li><a href="index.html">18. Vivo (VIVO)</a></li>
                                            <li><a href="index.html">19. Vivo (VIVO)</a></li>
                                            <li><a href="index.html">20. Vivo (VIVO)</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 header-navigation-col">
                                        <h4>...</h4>
                                        <ul>
                                            <li><a href="index.html">21. Dodgecoin (DODG)</a></li>
                                            <li><a href="index.html">22. Dodgecoin (DODG)</a></li>
                                            <li><a href="index.html">23. Dodgecoin (DODG)</a></li>
                                            <li><a href="index.html">24. Dodgecoin (DODG)</a></li>
                                            <li><a href="index.html">25. Dodgecoin (DODG)</a></li>
                                        </ul>
                                        <h4>Watch List</h4>
                                        <ul>
                                            <li><a href="index.html">Coin (COIN)</a></li>
                                            <li><a href="index.html">Coin (COIN)</a></li>
                                            <li><a href="index.html">Coin (COIN)</a></li>
                                            <li><a href="index.html">Coin (COIN)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
