<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:">YourWeb</a>

    <ul class="dropdown-menu">
        <li><a href="https://yourweb.Online/">YourWeb.Online Sites</a></li>
        <li class="active"><a href="http://CryptoCurrency.yourweb.online/">Everything CryptoCurrency</a></li>
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:">Buy & Store Coins</a>
    <ul class="dropdown-menu">
        <li><a href="/best-coin-faucets">Get Free Coins</a></li>
        <li><a href="/buy-coins-online">Buy Coins Online</a></li>
        <li><a href="/buy-coins-locally">Buy Coins locally</a></li>
        <li><a href="/earn-coins">Earn Coins</a></li>
        <li><a href="/best-coin-wallets">Best Bitcoin Wallets</a></li>

    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:">Investing & Exchanging</a>
    <ul class="dropdown-menu">
        <li><a href="/best-coin-values">Best Coin Value Sites</a></li>
        <li><a href="/best-coin-investments">Best Investment Services</a></li>
        <li><a href="/best-coin-mining-services">Best Mining Services</a></li>
        <li><a href="/best-bitcoin-exchanges">Best Exchanges</a></li>
        <li><a href="/earn-coins">Earn Coins</a></li>

    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:">Coin Services</a>
    <ul class="dropdown-menu">
        <li><a href="/change-coins-up">Change Coins</a></li>
        <li><a href="/best-bitcoin-exchanges">Best Exchanges</a></li>
        <li><a href="/advertising-network">Advertising Networks</a></li>
    </ul>
</li>
