
%button-base {
  display: block;
  color: $text-grey-dark;
  border-radius: 0;
  box-shadow: 2px 2px 2px #222222;
}

a {
  .btn-link {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #222222;
    background-color: rgb(179, 211, 52);
    box-shadow: 2px 2px 2px #222222;
    bottom: 0;
    right: 0;


  }

  .green-button-link {
    @extend %button-base;
    background-color: $theme-green;

    :hover {
      color: $text-blue-light;
    }
  }

  .blue-button-link {
    @extend %button-base;
    background-color: $bg-light-blue;

    :hover {
      color: $text-grey-medium-dark;
    }
  }

  .orange-button-link {
    @extend %button-base;
    background-color: $bg-orange;
    color: $text-grey-light;
  }
}

