
$theme-green: #b3d334;

$text-blue-light: #57c8eb;
$text-blue-dark: #337ab7;
$text-grey-light: #f0f0f0;
$text-grey-medium-light: #b0b0b0;
$text-grey-medium-dark: #767f88;
$text-grey-dark: #666;

$border-grey-light: #cecece;
$border-grey-dark: #666666;

$bg-light-blue: rgba(87, 181, 227, 0.49);
$bg-orange: #e45000;

$bg-light-grey-one: #F8F8F8;
$bg-grey-light-two: #eaeaea;

$bg-dark-grey-one: #313030;
$bg-dark-grey-two: #272626;

$black: #000;
$black_50: rgba(0,0,0,0.5);
$alto: #dbdbdb;
$alabaster: #fafafa;
$gallery: #efefef;
$concrete: #f2f2f2;
$wild_sand: #f4f4f4;
$color_chicago_20_approx: rgba(91, 91, 91, 0.2);
$color_pomegranate_20_approx: rgba(232, 77, 22, 0.2);
$color_victoria_10_approx: rgba(86,61,124,.1);
$wild_sand_50: rgba(244,244,244,0.5);
$white_100: rgba(255, 255, 255, 1);
$white_60: rgba(255,255,255,0.6);
$white: #fff;

$color_alabaster_approx: #f9f9f9;
$color_alizarin_crimson_approx: #e02222;
$color_alto_approx: #ddd;
$color_apple_approx: #67bd3c;
$color_athens_gray_approx: #edeff1;

$color_bianca_approx: #fbfef2;
$color_bombay_approx: #b0b4b7;
$color_burnt_sienna_approx: #ec7049;

$color_cape_cod_approx: #404040;
$color_cararra_approx: #ecebeb;
$color_celeste_approx: #cecece;
$color_chicago_approx: #585858;
$color_chateau_green_approx: #3cc051;

$color_desert_storm_approx: #f8f8f8;
$color_delta_approx: #a0a3a4;
$color_dove_gray_approx: #707070;

$color_eagle_approx: #bac39f;
$color_edward_approx: #9ea7a9;

$color_fiord_approx: #4a5866;
$color_flamingo_approx: #ed4e2a;
$color_fuscous_gray_approx: #555;

$color_gallery_approx: #eee;
$color_gray_nurse_approx: #eaeaea;
$color_gothic_approx: #6b9cab;
$color_grenadier_approx: #d73d04;
$color_gunsmoke_approx: #81848f;
$color_gull_gray_approx: #94a5b6;

$color_iron_approx: #d8d8d8;

$color_juniper_approx: #798b97;

$color_log_cabin_approx: #222;
$color_linen_approx: #faeae6;

$color_mid_gray_approx: #5e6369;
$color_mercury_approx: #e4e6e8;
$color_my_sin_approx: #fcb322;
$color_malibu_approx: #72c2ff;
$color_mountain_mist_approx: #999;
$color_masala_approx: #3d3d3d;
$color_mine_shaft_approx: #333;

$color_nevada_approx: #5f6d7b;

$color_ottoman_approx: #ebfcee;
$color_oslo_gray_approx: #868c93;

$color_pale_sky_approx: #647484;
$color_pelorous_approx: #44b1c1;
$color_picton_blue_approx: #57b5e3;
$color_pomegranate_approx: #e84d1c;
$color_pale_slate_approx: #c2c1c1;
$color_pumice_approx: #c9c9c9;

$color_romance_approx: #fefefe;
$color_river_bed_approx: #3e4d5c;
$color_rum_swizzle_approx: #f5f9e7;
$color_regent_gray_approx: #899199;
$color_raven_approx: #767f88;

$color_suva_gray_approx: #888;
$color_sirocco_approx: #6f7a7c;
$color_storm_dust_approx: #646464;
$color_scarpa_flow_approx: #55585d;
$color_solitude_approx: #e8f6fc;
$color_shark_approx: #272626;
$color_silver_chalice_approx: #aaa;
$color_santas_gray_approx: #9ca5ae;
$color_shamrock_approx: #36d7ac;
$color_shakespeare_approx: #64aed9;
$color_sazerac_approx: #fcf3e1;

$color_tundora_approx: #444;
$color_tapa_approx: #777;
$color_tiara_approx: #c9cdce;
$color_trinidad_approx: #e45000;
$color_tahiti_gold_approx: #e18604;

$color_viking_approx: #57c8eb;

$color_waterloo__approx: #7c858e;
$color_wild_sand_approx: #f5f5f5;
