$url_0: url('../img/icons/toggler.png');
$url_1: url('../img/icons/top-search-icon.png');
$url_2: url('../img/fa-angles.png');
$url_3: url('../img/icons/sidebar-toggle-icons.png');
$url_4: url('../img/fa-angle-brands.png');
$url_5: url('../img/step3-angle-right.png');
$url_6: url('../img/title-bg/man.jpg');
$url_7: url('../img/blockquote-corner.png');
$url_8: url('../img/icon-color.png');
$url_9: url('../img/icon-color-close.png');
